

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;

}
.header{
    background-image: url('../images/developer.png') ,url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
    width: 1600px;
    width: 100%;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    color: #757575;
    font-size: 18px;
}
.text-center{
    text-align: center;
}

/* nav styles  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 900px;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul a{
    text-decoration: none;
}
/* banner styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 800px;
}
.banner-description{
    font-size: 18px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 35px 0px 200px;
}
.banner-profile-pic{
    max-width: 585px;
}
.banner-description{
    max-width: 585px;
}
/* main styles */
main section{
    margin-top: 120px;
    margin-bottom: 120px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.item-title{
    color: #757575;
    font-size: 20px;
    margin-bottom: 7px;
}
.item-description{
    color: #474747;
    font-size: 20px;
    margin-top: 0px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* skill styles */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume styles */
.resume-container{
    display: flex;
    gap: 24px;
    align-items: center;
}
.expereance{
    width: 511px;
    height: 175px;
    margin-bottom: 30px;
}
.resume-title{
    margin-bottom: 100px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
}
.expereance-title{
    font-size: 25px;
    font-weight: bold;
}
.expereance-sub-title{
    font-size: 20px;
    font-weight: 600px;
}
expereance-description{
    font-size: 16px;

}
.DCV-primary-btn{
    margin-top: 50px;
}
/* footer styles */
footer{
    display: flex;
    gap: 100px;
    height: 780px;
    align-items: safe;
}
.footer-description{
    width: 560px;
}
.footer-column{
    width: 50%;
    margin-top: 190px;
    margin-bottom: 526px;
    justify-content: space-around;
}
footer input[ type="text"] ,footer input[ type="email"] ,textarea{
    width: 460px;
    height: 64px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
}
.f-c-1{
    margin-left: 230px;
}
.t-a-1{
    height: 120px;
}
.s-t{margin-bottom: 28px;

}
.img-container{
    margin-top: 28px;
}